# Passwords & Secrets
.env

# Most things in data shouldn't get shipped
data/*/

# Need some Grafana provisioning goodness
!data/grafana-ui
data/grafana-ui/config
!data/grafana-ui/provisioning

# Need some swag confs
data/swag-proxy/*
!data/swag-proxy
data/swag-proxy/config/*
!data/swag-proxy/config
data/swag-proxy/config/nginx/*
!data/swag-proxy/config/nginx
!data/swag-proxy/config/nginx/proxy-confs/

# Guacamole init
data/guacamole-mariadb/*
!data/guacamole-mariadb
data/guacamole-mariadb/config/*
!data/guacamole-mariadb/config
data/guacamole-mariadb/config/initdb.d
!data/guacamole-mariadb/config/initdb.d/