x-links: &links
  - "swag-proxy:ldap.${SWAG_URL}"
  - "swag-proxy:yacht.${SWAG_URL}"
  - "swag-proxy:phpmyadmin.${SWAG_URL}"
  - "swag-proxy:duplicati.${SWAG_URL}"
  
services:
  # Central Authentication for Services
  ldap-db:
    #1389 1636
    # https://raw.githubusercontent.com/bitnami/bitnami-docker-openldap/master/docker-compose.yml
    container_name: ldap-db
    build: build/ldap-db/.
    volumes:
      - 'ldap-db:/bitnami/openldap'
      - './data/ldap-db/ldifs:/ldifs'
    environment:
      - LDAP_ADMIN_USERNAME=${LDAP_ADMIN_USERNAME}
      - LDAP_ADMIN_PASSWORD=${LDAP_ADMIN_PASSWORD}
      - LDAP_ROOT=${LDAP_ROOT}
      - LDAP_SKIP_DEFAULT_TREE=yes
      - LDAP_CUSTOM_LDIF_DIR=/ldifs
      - BITNAMI_DEBUG=true
    restart: unless-stopped
  ldap-ui:
    #443
    container_name: ldap-ui
    build: build/ldap-ui/.
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=LDAP://ldap-db:1389/
      - PHPLDAPADMIN_HTTPS=false
      - PHPLDAPADMIN_TRUST_PROXY_SSL=true
    restart: unless-stopped

  # Central Ingress for Web Applications
  swag-proxy:
    #443
    container_name: swag-proxy
    build: build/swag-proxy/.
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
      - URL=${SWAG_URL}
      - VALIDATION=http
      - SUBDOMAINS=grafana,ofbiz,osticket,wiki,desktop,duplicati,phpmyadmin,yacht,ldap
      - EMAIL=${LE_EMAIL}
      - STAGING=${LE_TESTING}
    volumes:
      - ./data/swag-proxy/config:/config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped
  authelia-sso:
    container_name: authelia-sso
    build: build/authelia-sso/.
    environment:
      - TZ=${TIMEZONE}
    volumes:
      - ./data/authelia-sso:/config
    restart: unless-stopped

  # Infrastructure Suite
  grafana-ui:
    #3000
    container_name: grafana-ui
    build: build/grafana-ui/.
    restart: unless-stopped
    volumes:
      - grafana:/var/lib/grafana
      - ./data/grafana-ui/provisioning:/etc/grafana/provisioning
#  #TODO
#  ofbiz-ui:
#    #8080 8443
#    container_name: ofbiz-ui
#    build: build/ofbiz-ui/.
#    restart: unless-stopped
#  osticket-ui:
#    #80
#    container_name: osticket-ui
#    build: build/osticket-ui/.
#    restart: unless-stopped
#    environment:
#      - MYSQL_HOST=mariadb
#      - MYSQL_PASSWORD=${OSTICKET_DB_PASS}
#      - MYSQL_USER=${OSTICKET_DB_USER}
  osticket-mariadb:
    #3306
    container_name: osticket-mariadb
    build: build/osticket-mariadb/.
    restart: unless-stopped
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
      - MYSQL_DATABASE=osticket
      - MYSQL_USER=${OSTICKET_DB_USER}
      - MYSQL_PASSWORD=${OSTICKET_DB_PASS}
      - MYSQL_ROOT_PASSWORD=${OSTICKET_DB_ROOT_PASS}
    volumes:
      - ./data/osticket-mariadb/config:/config
  dokuwiki-ui:
    #80
    container_name: dokuwiki-ui
    build: build/dokuwiki-ui/.
    restart: unless-stopped
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
    volumes:
      - ./data/dokuwiki-ui/config:/config
  guacamole:
    #8080
    container_name: guacamole
    build: build/guacamole/.
    restart: unless-stopped
    environment:
      - MYSQL_HOSTNAME=guacamole-mariadb
      - MYSQL_DATABASE=guacamole
      - MYSQL_USER=${GUAC_DB_USER}
      - MYSQL_PASSWORD=${GUAC_DB_PASS}
      - GUACD_HOSTNAME=guacd
  guacamole-mariadb:
    #3306
    container_name: guacamole-mariadb
    build: build/guacamole-mariadb/.
    restart: unless-stopped
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
      - MYSQL_DATABASE=guacamole
      - MYSQL_USER=${GUAC_DB_USER}
      - MYSQL_PASSWORD=${GUAC_DB_PASS}
      - MYSQL_ROOT_PASSWORD=${GUAC_DB_ROOT_PASS}
    volumes:
      - ./data/guacamole-mariadb/config:/config

  # Monitoring Services
#  prometheus-db:
#    #9090
#    container_name: prometheus-db
#    build: build/prometheus-db/.
#    restart: unless-stopped
#    ports:
#      - "9090:9090"
#    volumes:
#      - ./data/prometheusdb/config:/etc/prometheus/
#      - prometheusdb:/prometheus
#  prometheus-scraper:
#    #9116
#    container_name: prometheus-scraper
#    build: build/prometheus-scraper/.
#    restart: unless-stopped
#    ports:
#      - "9116:9116"
#    volumes:
#      - ./data/prometheus-proxy/config:/opt/config/snmp_exporter

  # Break-the-glass access
  wireguard:
    #51820
    container_name: wireguard
    build: build/wireguard/.
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
      - SERVERURL=wireguard.${SWAG_URL}
      - SERVERPORT=51820
      - PEERS=1
      - PEERDNS=auto
      - INTERNAL_SUBNET=10.13.13.0
      - ALLOWEDIPS=0.0.0.0/0
    volumes:
      - ./data/wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    links: *links

  yacht-admin:
    #8000
    container_name: yacht-admin
    build: build/yacht-admin/.
    restart: unless-stopped
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - SECRET_KEY=${YACHT_SECRET_KEY}
      - ADMIN_EMAIL=${YACHT_ADMIN_EMAIL}
      - DISABLE_AUTH=true
    volumes:
      - ./data/yacht-admin:/config
      - /var/run/docker.sock:/var/run/docker.sock
  phpmyadmin:
    #80
    container_name: phpmyadmin
    build: build/phpmyadmin/.
    restart: unless-stopped
    environment:
      - PMA_HOSTS=osticket-mariadb,guacamole-mariadb
  duplicati:
    #8200
    container_name: duplicati
    build: build/duplicati/.
    restart: unless-stopped
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
    volumes:
      - ./data/duplicati/config:/config
      - backup:/backups

  # Generic Desktop 
  guacd:
    #4822
    container_name: guacd
    build: build/guacd/.
    restart: unless-stopped
  support-desktop-shared:
    #3389
    container_name: support-desktop-shared
    build: build/support-desktop-shared/.
    restart: unless-stopped
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
    shm_size: "1gb"
  admin-desktop-shared:
    #3389
    container_name: admin-desktop-shared
    build: build/admin-desktop-shared/.
    restart: unless-stopped
    privileged: true
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
    shm_size: "1gb"
    links: *links
  technical-desktop-shared:
    #3389
    container_name: technical-desktop-shared
    build: build/technical-desktop-shared/.
    restart: unless-stopped
    environment:
      - PUID=${USERID}
      - PGID=${USERID}
      - TZ=${TIMEZONE}
    shm_size: "1gb"
    links: *links

  # UserScript should create dedicated desktops and destroy dedicated desktops based on user
  # creation & deletion

volumes:
  backup:
  prometheusdb:
  grafana:
  ldap-db:
    driver: local

networks:
  default:
  wireguard:
